# Next.js Production Settings
NODE_ENV=production
PORT=3000
HOSTNAME=0.0.0.0

# API URL (Django Backend)
NEXT_PUBLIC_API_URL=https://api.estenomada.es/api

# Base URL
NEXT_PUBLIC_BASE_URL=https://estenomada.es




